body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron {
	text-align: center;
	background-image: url('../images/GroundBackground.jpg');
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 150px;
	color: white;
}
.jumbotron p {
	color: white;
}
.row {
	text-align: center;
}
.col-md-4 h2 {
	text-transform: uppercase;
}
.div1, .div2 {width:700px;margin:0 auto;}
.div1 {margin-top:30px;margin-bottom:60px;text-align:center;line-height:20px;}
.div1 P {font-size:18px;}
.div1 a, .div2 a {color:#07C; }
.div1 a {margin:0 8px;}
.div1 a.current {color:black; text-decoration:none;}
.div2 {margin-top:70px;}
.div2 li {padding-top:6px;padding-bottom:6px;}
.green {color:Green;}
.cn {font-family: "Courier New", Georgia;}
#status {display:inline-block; margin-left:26px;line-height:50px;height:50px;vertical-align:middle;}

.code
{
    border: dashed 1px #BCBCCB; padding:8px 12px; background-color: #F3F3F9; white-space:pre; font-family:"Courier New", Georgia;
    font-size:12px; margin:6px 0;overflow:auto; 
}

/* Responsive Styling */

@media (max-width: 1199px) {
	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 44px;
	}
    .jumbotron p {
    	padding: 0 10px;
    }
}

@media (max-width: 767px) {
	.jumbotron h1 {
		font-size: 24px;
	}
    .jumbotron p {
    	font-size: 16px;
    	padding: 0;
    }
}


