body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.withBorder{  
		margin: 10px;
	    padding: 15px;  
	    border: 2px solid steelblue;  
	}  
	  
legend.LoginPage {  
	    width:inherit; /* Or auto */  
	    padding:0 10px; /* To give a bit of padding on the left and right */  
	    border:none;  
	}  

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 150px;
	color: white;
}
.jumbotron p {
	color: white;
    
@media (max-width: 1199px) {
	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 44px;
	}
    .jumbotron p {
    	padding: 0 10px;
    }
}

@media (max-width: 767px) {
	.jumbotron h1 {
		font-size: 24px;
	}
    .jumbotron p {
    	font-size: 16px;
    	padding: 0;
    }
}
